<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugin.xep0421.XEP0421Plugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>mightymop</author>
    <version>${project.version}</version>
    <date>10/18/2021</date>
    <minServerVersion>4.4.0</minServerVersion>
    <minJavaVersion>1.8</minJavaVersion>
    <databaseKey>xep0421</databaseKey>
    <databaseVersion>1</databaseVersion>
    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="server-occupant-identifiers" name="${sidebar.occupant-identifiers}" url="occupant-identifiers.jsp" description="${sidebar.occupant-identifiers.descr}"/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
